

*{
    margin: 0;
    padding: 0;
}

:root{
    --branco-principal: #FFFFFF;
    --cinza-secundário: #C0C0C0;
    --cor-botão: #167BF7;
    --cor-fundo: #00030C;
    --fonte-principal: 'inter';
}

body{
    background-color: var(--cor-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 1em;
    font-weight: 400;
}


.principal{
    background-image: url(./assets/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__caixa{
    margin: 0 6em;
}

.container__titulo{
    font-size: 1.75em;
    font-weight: 700;
}

.container__imagem{
    margin: 1em 0 2em 0;
}

.container__botao{
    background-color: var(--cor-botão);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-principal);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__botao:hover{
    background-color: purple;
    color: black;
}

.botao__secundario{
    background-color: transparent;
    border: 2px solid var(--branco-principal);
    
}

.container__aviso{
    font-size: 0.75em;
    color: var(--cinza-secundário);

}

.secundario__imagem{
    width: 80%;
}

.secundario{
    align-items: center;
    margin: 0 10em;
}

.descricao__titulo{
    font-size: 3em;
    font-weight: 700;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto{
    color: var(--cinza-secundário);
}

.secundario__botao{
    display: inline-block;
    margin-top: 1em;
}

.container__descricao{
    padding: 2em;
}

.dispositivos{
    text-align: center;
}

.dispositivos__titulo{
    font-size: 3em;
    color: var(--branco-principal);
}   

.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0; 
    
}

.lista__item{
    font-size: 2em;
    color: var(--branco-principal);

}

footer{
    text-align: center;
}

.rodape__lista{
    display: flex;
    justify-content: center;
    margin: 2em 0;
    list-style-type: none;
}

.lista__link, a{
    text-decoration: none;
    color: var(--branco-principal);
    margin: 0 0.5em;
    font-size: 1em;
}

.lista__links a:hover{
    color: var(--cor-botão);
}

.lista__links a:active{
    color: purple;
}

.rodape__texto{
    margin: 2em;
    font-size: 0.87em;
}
